body {
    font-family: 'Lora';
    letter-spacing: 2px;
    line-height: 30px;
    color: rgb(10, 10, 10);
}

div.header {
    background-color: lightgrey;
}

.navbar-brand {
    font-weight: bold;
}

div.middle-section {
    height: 500px;
    background-color: white;
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: lightgrey;
    word-wrap: break-word;
}

.footer .sub-heading {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.footer .timing-heading {
    color: #276868;
}

/* p.timing {
    text-align: left;
} */

.copyright {
    padding-top: 30px;
    color: #276868;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item {
    height: 480;
}

.visit-us {
    margin: 50px;
}

.benefits {
    text-align: center;
    margin: 100px;
}

.benefits img {
    width: 100px;
    height: 100px;
}

.about-us {
    padding: 50px;
    text-align: center;
    background-color: rgb(184, 204, 202);
}

.products {
    padding: 50px;
    text-align: center;
}

.products img {
    border: 1px solid lightgray;
    padding: 3px;
}

h2 {
    margin-bottom: 50px;
    font-weight: bold;
}

.promotions {
    padding: 50px;
    text-align: center;
}

.promotions p, .promotions h4 {
    text-align: left;
    letter-spacing: 1px;
}

.second-news {
    border-bottom: 3px solid grey;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 970px) {
    .footer .item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* @media (max-width: 970) {
    .footer .item {
        margin: 50px;
    }
} */